.blue-background {
    background-color: #dfe6fa;
    padding-top: 8vh;
}

.ash-background {
    background-color: #8d8c8c2c;
    padding-top: 8vh;
}

.mainLogo {
    height: 20vh
}

h1 {
    font-weight: 700;
    color: #2c3942;
    margin-bottom: 0px;
    font-size: 5vw;
}

h2 {
    font-weight: 400;
    color: #2c3942;
    margin-top: 0px;
}

h3 {
    font-weight: 700;
    color: #2c3942;
    font-size: 3.5vw;
    margin-top: 0px;
}

h6 {
    margin-bottom: 0px;
    opacity: 0.7;
}

.blue {
    color: #0064e0;
}

.lightblue {
    color: #0081fa;
}

p {
    line-height: 160%;
    color: #2c3942;
}

.btn-primary {
    border-radius: 8vh;
}

ul.custom-list li {
    color: #0081fa;
    margin-left: 2vw
}

.blue-box {
    background: #dfe6fa8a;
    border-radius: 20px;
}

.footer {
    background: #0081fa;
    margin: 0px;
}

.footer a p {
    margin: 0px;
    color: #ffffff;
    font-size: 2vh;
    font-weight: 500;
}

